@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
    margin: 10px;
    font-family: 'Roboto';

}
th, td {
    text-align: center;
}

th {
    font-size: 1.4rem;
}

td {
    font-size: 1.2rem;
}

.viewSalary {
    background-color: #4db6ac;
    color: white;
}