@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.view {
    margin: 10px;
    font-family: 'Roboto';

}


td {
    background-color: lightgray;
    border-radius: 0%;
    border: none;
}

th {
    background-color: #26a69a;
    border-radius: 0%;
    border: none;
}

.viewINSS {
    background-color: #ff5722;
    color: white;
}