@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
    margin: 10px;
    font-family: 'Roboto';

}

.viewIRRF {
    background-color:#7c4dff;
    color: white;
}

